{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/edit_achievement.css">
<br><br><br><br>
<h2 style="color: #ffffff;">Create Activity </h2><br>
    <form action="" method="POST" enctype="multipart/form-data" id="myForm">
        {% csrf_token %}
        Title: <input type="text" class="title-input" name="title" required/><br/><br>
        Time:
        <input type="datetime-local" class="title-input" id="activity_time" name="time" required>
        <br><br>
        Content: <br/>
        <textarea cols="57" rows="8" name="content" required></textarea><br/>
        <input type="submit" class="edit-button1" value="Post"/>
    </form>


    
<script>

    document.getElementById('myForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission
    
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You are about to submit this form.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, submit it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms, submit the form
                        document.getElementById('myForm').submit();
                    }
                });
            });
    </script>
{% endblock content %}