{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/about.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <div class="container">
        <br>
        <br>
        <h1>Activities</h1>
        {% for i in activity  reversed %}

        <div class="box">
            <section class="overview-section">
                <div class="overview-text">
                    <h2 class="title">{{ i.title }}</h2>
    
                    <p class="subtitle" >{{ i.description }}</p>
                    <p class="subtitle">{{ i.time|date:"Y-m-d  H:i" }}</p>
                
                {% if user.is_authenticated %}

                        <a href={%  url 'activity:edit_activity' pk=i.id %}>
                            <button type="button" class="edit-button">Edit post</button>
                            <!-- <button type="button">Edit</button> -->
                        </a>
    
    
                    {% endif %}
                </div>
                <!-- </div> -->
            </section>
    
    
        </div>
        {% endfor %}
    </div>
{% endblock content %}


