{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/about.css">
    <br><br>
<h1>Our Projects </h1>
    {% for i in projects reversed %}

    <div class="box">
        <section class="overview-section">
            <div class="overview-text">
                <h2 class="title">{{ i.title }}</h2>

                <p class="subtitle" >{{ i.author }}</p>
                <p class="subtitle">{{ i.created_at|date:"Y-m-d H:i" }}</p>

                <a href="{{ i.id }}"><class="read-more">Read more</a><br>

                {% if user.is_authenticated %}

                <a href='{% url 'projects:edit_projects' pk=i.id %}'>
                    <button type="button" class="edit-button">Edit</button>
                </a>
            {% endif %}
            </div>
            <!-- </div> -->
        </section>


    </div>



    {% endfor %}
{% endblock content %}



