{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/about.css">
    <br>

    <br>
    <h1>Empowering Minds - One Byte at a Time</h1>>
    <!-- <div class="h1">
        <h4 class="site-title2">join us on a journey through the digital realm</h4>
    </div> -->
    <div class="image-container">
        <div class="image">
            <img src="/media/aboutus/1.jpg" alt="Image 1">
        </div>
        <div class="image">
            <img src="/media/aboutus/2.jpg" alt="Image 2">
        </div>
        <div class="image">
            <img src="/media/aboutus/3.jpg" alt="Image 3">
        </div>
        <div class="image">
            <img src="/media/aboutus/4.jpg" alt="Image 4">
        </div>
        <div class="image">
            <img src="/media/aboutus/5.jpg" alt="Image 5">
        </div>
        <div class="image">
            <img src="/media/aboutus/6.jpg" ALT="Image 6">
        </div>
    </div>
    </body>
    <body>
    <section class="overview-section">
        <div class="overview-text">
          <div class="section-header2">
            <h2 class="section-title2">Our Story</h2>
            <span>Story</span>
            <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
          </div>
          <div class="center-aligned">
            <p>IUT Computer Society (IUTCS), founded in 2008 by students of the Department of Computer Science and Engineering at the Islamic University of Technology, organizes annual programming classes, coding contests, application development courses, co-curricular support, projects, workshops, and seminars featuring ICT sector experts.<br><br><br><br></p>
        </div></div>
        <div class="overview-image">
            <img src="/media/aboutus/8.jpg" alt="Overview Image">
        </div>
    </section>
    </body>
    <body>
    <section class="overview-section">
        <div class="overview-image">
            <img src="/media/aboutus/9.jpg" alt="Overview Image">
        </div>
        <div class="overview-text">
          <div class="section-header2">
            <h2 class="section-title2">Our Mission</h2>
            <span>Mission</span>
            <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
          </div>
          <div class="center-aligned">
            <p>The primary goal of the IUT Computer Society is to develop an ICT oriented generation of citizens. With
                this agenda in mind, IUT Computer Society has taken initiatives by organizing various ICT related
                contests both within the campus and outside as well.<br><br> <br><br></p></div>
        </div>
    </section>
    </body>
    <body>
    <section class="overview-section">
        <div class="overview-text">
            <!-- <h2 class="h2">Our Vision</h2> -->
            <div class="section-header2">
              <h2 class="section-title2">Our Vision</h2>
              <span>Vision</span>
              <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
            </div>
            <div class="center-aligned">
            <p>The members of IUTCS have many prestigious achievements in the various fields of ICT. Teams on behalf of
                IUT have won accolades and honors in the fields of robotics and programming both on home ground as well
                as in external competitions. Our teams have excelled in competitions, including the Microsoft Imagine Cup where they were Runners-up, and have also earned recognition in other application development and programming contests.<br><br> <br><br><br> </p>
        </div>
      </div>
        <div class="overview-image">
            <img src="/media/aboutus/10.jpg" alt="Overview Image">
        </div>
    </section>
    </body>
    <body>
    <!-- <section class="contact-section">
        <h2>Contact Us</h2>
        <div class="contact-info">
            <div class="contact-person">
                <h3>Alif Arshad Bakshi</h3>
                <p>Email: <a href="arshadbakshi@iut-dhaka.edu">arshadbakshi@iut-dhaka.edu</a></p>
                <p>Phone: +880-1791-665-709</p>
            </div>
            <div class="contact-person">
                <h3>Tanvir Hossain Saikat</h3>
                <p>Email: <a href="tanvirhossain@iut-dhaka.edu">tanvirhossain@iut-dhaka.edu</a></p>
                <p>Phone: +1 (987) 654-3210</p>
            </div>
            <div class="contact-person">
                <h3>Shahriar Mahmud</h3>
                <p>Email: <a href="shahriarmahmud@iut-dhaka.edu">shahriarmahmud@iut-dhaka.edu</a></p>
                <p>Phone: +1 (987) 654-3210</p>
            </div>
        </div>
    </section> -->

{% endblock content %}
