{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/about.css">
<style>
    body {
        background-color: #102128;
        margin: 0;
        padding: 0;
    }
</style>
    <br>

    <br>
  
    <!-- <div class="h1">
        <h4 class="site-title2">join us on a journey through the digital realm</h4>
    </div> -->
    <div class="image-container">
        <div class="image">
            <img src="/media/slider/16.jpg" alt="Image 1">
        </div>
        <div class="image">
            <img src="/media/slider/kl.jpg" alt="Image 2">
        </div>
        <div class="image">
            <img src="/media/aboutus/v.jpg" alt="Image 3">
        </div>
        <div class="image">
            <img src="/media/slider/15.jpg" alt="Image 4">
        </div>
        <div class="image">
            <img src="/media/aboutus/a.jpg" alt="Image 5">
        </div>
        <div class="image">
            <img src="/media/aboutus/b.jpg" ALT="Image 6">
        </div>
    </div>
    </body>
    <body>
        <section class="overview-section" style="background-color: #102128; padding-top: 8px; padding-bottom: 2px;">
        <div class="overview-text">
          <div class="section-header2">
            <h2 style="color: #ffffff;"  class="section-title2">Our Mission</h2>
            <span>Story</span>
            <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
          </div>
          <div class="center-aligned">
            <p style="color: white;">Establishing a cooperative community for students at IUT dedicated to exploring robotics education.e aim to empower students with the knowledge and skills needed to excel in robotics, providing opportunities for innovation, projects, and competitions.  <br><br><br><br></p>
        </div></div>
        <div class="overview-image">
            <img src="/media/slider/15.jpg" alt="Overview Image">
        </div>
    </section>
    </body>
    <body>
        <section class="overview-section" style="background-color: #102128; padding-top: 8px; padding-bottom: 2px;">
        <div class="overview-image">
            <img src="/media/slider/16.jpg" alt="Overview Image">
        </div>
        <div class="overview-text">
          <div class="section-header2">
            <h2 style="color: #ffffff;"  class="section-title2">Our Vision</h2>
            <span>Mission</span>
            <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
          </div>
          <div class="center-aligned">
            <p style="color: white;"> 
                IUT's Robotics Society leads in innovation, fostering student involvement in robotics and engineering for personal growth. Through research projects, workshops, and competitions, we cultivate an innovative culture. Collaborative efforts enhance skills and contribute to the broader engineering community, dedicated to empowering the Muslim world in robotics and shaping the future of society.<br><br> <br><br></p></div>
        </div>
    </section>
    </body>
    
    <section id="portfolios" class="section" style="background-color: #102128; padding-top: 5px; padding-bottom: 5px;">
        <!-- Container Starts -->
        <div class="container">
          <div class="section-header">
            <h2 style="color: #ffffff;" class="section-title">About Us</h2>
            <p style="color: #ffffff;" class="section-subtitle">The IUT Robotic Society emerged in 2023, with Nayeb Hasin serving as the first president, supported by Vice President Alif and Vice President Shantanu.</p>
            <p style="color: #ffffff;" class="section-subtitle">In a significant milestone, Project Altair, the flagship project of the IUT Robotics Society, successfully qualified for the ERC2023 on-site finals. A talented group, led by passionate individuals, represented the society in Poland for the competition held from 15th to 17th September. The team's dedication and spirit outshone even the rover itself.</p>
            <p style="color: #ffffff;" class="section-subtitle">On September 16, 2023, the IUT Robotics Society reached new heights with the workshop "DRONECRAFTERS - Craft Your Drone Journey." In collaboration with Bangladesh Flying Labs and the ICT Division, the workshop engaged 40 bright minds from batches 21 and 22. From morning refreshments to a hands-on drone assembly session, participants were guided by a dedicated instructor, Fazle Elahi Tonmoy. The event concluded with a successful drone flight and a closing ceremony, where Tonmoy was acknowledged for his commitment to hands-on learning in robotics and drone crafting.</p>
            <p style="color: #ffffff;" class="section-subtitle">Project Altair secured a coveted spot in the finals of the International Rover Challenge (IRC) 2024, making the IUT Robotic Society one of only two teams from Bangladesh among the 24 global contenders. This remarkable achievement fills IUTRS with pride, marking another milestone in its journey.</p>
          </div>
        </div>
        <!-- Container Ends -->
      </section>
      

{% endblock content %}
