{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/ec.css">

    <!-- <div class="h1">
        <h1>Faculty Body </h1>
    </div> -->
    <!-- <div class="section-header1" >
        <h2 class="section-title1" >Faculty Body</h2>
        <span>Body</span>
        <!- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      <!-- </div>  -->
    <!-- admin panel -->
    <!-- <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/chief.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/patron.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/chairman.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/moderator.jpg" alt="Image 3">

        </div>
    </section>
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/advisor.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/imtiaj.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/shuvro.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/maliha.jpg" alt="Image 3">

        </div>
    </section>
    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/herok.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/atiq.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/farzana.jpg" alt="Image 3">

        </div>

    </section> -->
    <!-- <div class="h1">
        <h1>Administration </h1>
    </div> -->
    <!-- <div class="section-header1" >
        <h2 class="section-title1">Administration</h2>
        <span>Administration</span>
        <!- class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      <!-- </div> -->
    <!-- admin panel -->
    <!-- <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/alif.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/saikat.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/shahriar.jpg" alt="Image 3">

        </div>

    </section>
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/peal.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/fuad.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/arafat.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/faria.jpg" alt="Image 3">

        </div>


    </section> --> 
    <!-- <div class="h1">
        <h1>Event Management Executive </h1>
    </div> -->

        <!-- President Section -->
            <!-- <div class="h1">
        <h1>Administration </h1>
    </div> -->
    <div class="section-header1">
        <h2 class="section-title1" style="color: #ffffff;">President</h2>
    </div>
    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/Nayeb.jpg" alt="Nayeb Hasin">
        </div>
    </section>

    <!-- Vice Presidents Section -->
    <div class="section-header1">
        <h2 class="section-title1" style="color: #ffffff;">Vice Presidents</h2>
        <!-- <span>Vice Presidents</span> -->
    </div>
    <section class="image-row">
        <!-- Vice President (Technical) -->
        <div class="image-card">
            <img src="/media/executive_committee/shantanu.jpg" alt="Shantanu Rahman">
        </div>
        <!-- Vice President (Administration) -->
        <div class="image-card">
            <img src="/media/executive_committee/alif.jpg" alt="Alif Arshad">
        </div>
    </section>

    <!-- Other Admin Panel Members Section -->
    <div class="section-header1">
        <h2 class="section-title1" style="color: #ffffff;">Admin Panel</h2>
        <!-- <span>Admin Panel</span> -->
    </div>
    <section class="image-row">
        <!-- General Secretary -->
        <div class="image-card">
            <img src="/media/executive_committee/apon.jpg" alt="Jubair Mahmud Apon">
        </div>
        <!-- Chief Editor -->
        <div class="image-card">
            <img src="/media/executive_committee/rishad.jpg" alt="Tanvir Hossain Rishad">
        </div>
        <!-- Project Coordinator -->
        <div class="image-card">
            <img src="/media/executive_committee/mainul.jpg" alt="Mainul Islam">
        </div>
        <!-- Treasurer -->
        <div class="image-card">
            <img src="/media/executive_committee/touhid.jpg" alt="Touhidul Islam">
        </div>
    </section>

    <!-- Executive Heads Section -->
    <div class="section-header1">
        <h2 class="section-title1" style="color: #ffffff;">Operation Executives</h2>
    </div>
    <section class="image-row">
        <!-- First Row -->
        <div class="image-card">
            <img src="/media/executive_committee/rakin.jpg" alt="AKM Rakinuzzaman">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/shafi.jpg" alt="Muztahid Abrar Siddique">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/tausif.jpg" alt="Tausif Elahi Khan">
        </div>
    </section>
    <section class="image-row">
        <!-- Second Row -->
        <div class="image-card">
            <img src="/media/executive_committee/arpi.jpg" alt="Safoat Saima Arpi">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/tamim.jpg" alt="Mohammad Tamim">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/siam.jpg" alt="Siam Ibne Saif">
        </div>
    </section>


    <!-- Additional Section -->
    <div class="section-header1">
        <h2 class="section-title1" style="color: #ffffff;">Assistant Admin Panel</h2>
    </div>
    <section class="image-row">
        <!-- First Row -->
        <div class="image-card">
            <img src="/media/executive_committee/1_Sami-100.jpg" alt="Safwan Sami">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/2_Raiyan-100.jpg" alt="Raiyan Ibne Hossain">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/3_Emon-100.jpg" alt="Mohammad Emon">
        </div>
    </section>
    <section class="image-row">
        <!-- Second Row -->
        <div class="image-card">
            <img src="/media/executive_committee/4_Fariha-100.jpg" alt="Fariha Mahjabin Islam">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/5_Ikrama-100.jpg" alt="Md. Ikrama Hossain">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/6_Siam Sindeed-100.jpg" alt="Siam Sindeed Khan">
        </div>
    </section>
    <section class="image-row">
        <!-- Third Row -->
        <div class="image-card">
            <img src="/media/executive_committee/7_Zakia-100.jpg" alt="Zakia Zaman">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/8_Afia-100.jpg" alt="Afia Tahsin Chowdhury">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/9_Nashita-100.jpg" alt="Zabin Tazrin Nashita">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/10_Rafid-100.jpg" alt="A.G.M. Rafiuzzaman Rafid">
        </div>
    </section>


    <!-- <div class="h1">
        <h1>Executive Secretary </h1>
    </div> -->
    <!-- Assistant Heads Section -->
    <div class="section-header1">
        <h2 class="section-title1" style="color: #ffffff;" >Assistant Heads</h2>
       
    </div>
    <section class="image-row">
        <!-- First Row -->
        <div class="image-card">
            <img src="/media/executive_committee/11_Mushi-100.jpg" alt="Md. Mushfiqur Rahman Mushfique">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/12_Nafs-100.jpg" alt="Tasnia Nafs">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/13_Zamilish-100.jpg" alt="Khandaker Zamilish Shiyamee">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/14_Hasnine-100.jpg" alt="Fardin Hasnine Chowdhury">
        </div>
    </section>
    <section class="image-row">
        <!-- Second Row -->
        <div class="image-card">
            <img src="/media/executive_committee/15_Feehad-100.jpg" alt="Feehad Kamal">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/16_Fahim-100.jpg" alt="Al Hasib Fahim">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/17_Noumi-100.jpg" alt="Nuzhat Islam Noumi">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/18_Mukit-100.jpg" alt="Mukit Mahdin">
        </div>
    </section>
    
        <!-- Senior Executives Section -->
    <div class="section-header1">
        <h2 class="section-title1" style="color: #ffffff;">Senior Executives</h2>
    </div>
    <section class="image-row">
        <!-- First Row -->
        <div class="image-card">
            <img src="/media/executive_committee/19_Fabbiha-100.jpg" alt="Fabbiha Bushra">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/20_Urbana-100.jpg" alt="Fariha Alam Urbana">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/21_Tasnuva-100.jpg" alt="Mir Tasnuva Sara">
        </div>
    </section>
    <section class="image-row">
        <!-- Second Row -->
        <div class="image-card">
            <img src="/media/executive_committee/22_Shera-100.jpg" alt="Muslima Siddiqui Shera">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/23_Pritom-100.jpg" alt="Sadiq Mohammad Pritom">
        </div>
        
        <div class="image-card">
            <img src="/media/executive_committee/24_Piyas-100.jpg" alt="Nur-A-Piyas Mahbub">
        </div>
    </section>

    </body>

{% endblock content %}
