{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/ec.css">

    <!-- <div class="h1">
        <h1>Faculty Body </h1>
    </div> -->
    <div class="section-header1" >
        <h2 class="section-title1" >Faculty Body</h2>
        <span>Body</span>
        <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      </div>
    <!-- admin panel -->
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/chief.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/patron.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/chairman.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/moderator.jpg" alt="Image 3">

        </div>
    </section>
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/advisor.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/imtiaj.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/shuvro.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/maliha.jpg" alt="Image 3">

        </div>
    </section>
    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/herok.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/atiq.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/farzana.jpg" alt="Image 3">

        </div>

    </section>
    <!-- <div class="h1">
        <h1>Administration </h1>
    </div> -->
    <div class="section-header1" >
        <h2 class="section-title1">Administration</h2>
        <span>Administration</span>
        <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      </div>
    <!-- admin panel -->
    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/alif.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/saikat.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/shahriar.jpg" alt="Image 3">

        </div>

    </section>
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/peal.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/fuad.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/arafat.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/faria.jpg" alt="Image 3">

        </div>


    </section>
    <!-- <div class="h1">
        <h1>Event Management Executive </h1>
    </div> -->

    <div class="section-header1" >
        <h2 class="section-title1">Event Management Executive</h2>
        <span>Management Executive</span>
        <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      </div>

    <!-- event management -->
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/moudud.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/anam.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/sumit.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/alvee.jpg" alt="Image 3">

        </div>
    </section>
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/sajid.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/akib.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/shadid.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/akm.jpg" alt="Image 3">

        </div>
    </section>
    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/annesha.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/zaarin.jpg" alt="Image 2">

        </div>
    </section>
    </section>
    <!-- <div class="h1">
        <h1>Operations Executive </h1>
    </div> -->
    <div class="section-header1">
        <h2 class="section-title1">Operations Executive</h2>
        <span>Executive</span>
        <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      </div>
    <!-- operations -->
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/rakin.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/oeshy.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/reaz.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/arifin.jpg" alt="Image 3">

    </section>
    <section class="im-row">
        <div class="image-card">
            <img src="/media/executive_committee/alin.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/sakib.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/suraiya.jpg" alt="Image 3">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/anika.jpg" alt="Image 3">

    </section>
    <!-- <div class="h1">
        <h1>Publication and Web Development Executive </h1>
    </div> -->

    <div class="section-header1">
        <h2 class="section-title1">Publication and Web Development Executive</h2>
        <span>Development Executive</span>
        <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      </div>

    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/tasmi.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/ahbab.jpg" alt="Image 2">

        </div>


    </section>

    <!-- <div class="h1">
        <h1>Executive Secretary </h1>
    </div> -->
    <div class="section-header1">
        <h2 class="section-title1">Executive Secretary</h2>
        <span>Secretary</span>
        <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      </div>
    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/rafit.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/anik.jpg" alt="Image 2">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/syem.jpg" alt="Image 2">

        </div>


    </section>
    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/orpa.jpg" alt="Image 1">

        </div>
        <div class="image-card">
            <img src="/media/executive_committee/ryaan.jpg" alt="Image 2">

        </div>


    </section>
    <!-- <div class="h1">
        <h1>International Student Executive </h1>
    </div> -->
    <div class="section-header1">
        <h2 class="section-title1">International Student Executive</h2>
        <span>Student Executive</span>
        <!-- <p class="section-subtitle">Unlocking Tomorrow's Potential, One Line of Code at a Time.</p> -->
      </div>
    <section class="image-row">
        <div class="image-card">
            <img src="/media/executive_committee/sabry.jpg" alt="Image 1">

    </section>
    </body>

{% endblock content %}
