{% extends 'base.html' %}
{% block content %}

 
  <link rel="stylesheet" href="static\styles\home.css">


<br><br><br>
<div class="col-md-12 col-sm-6">
  <div class="video-promo-content text-center">
    <video width="100%" height="300" autoplay controls>
      <source src="/media/about/2 click.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

  

</header>
<!-- Header Section End -->


<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title" style="color: #ffffff;">Our Projects</h2>
    
   
      <p class="section-subtitle" style="color: #ffffff;">
        IUTRS encompasses three primary projects.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">

              <img src="/media/events/ALT.png" alt="">

          </div>
          <div class="blog-item-text">
            <!-- <div class="date"><i class="lni-calendar"></i>10 April, 2018</div> -->
            <h3 style="color: #ffffff;">Altair</h3>
          
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">

              <img src="/media/events/avi.jpg" alt="">

          </div>
          <div class="blog-item-text">
            <!-- <div class="date"><i class="lni-calendar"></i>10 April, 2018</div> -->
            <h3 style="color: #ffffff;">Avijatrik</h3>
            
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">

              <img src="/media/events/ani.jpg" alt="">

          </div>
          <div class="blog-item-text">
            <!-- <div class="date"><i class="lni-calendar"></i>10 April, 2018</div> -->
            <h3 style="color: #ffffff;">Anirban</h3>
            
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
    </div>
  </div>
</section>
<!-- blog Section End -->

<!-- Call to Action Start -->
<section class="call-action section" style="background-color: #0e3240; padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="cta-trial text-center">
          <h3 style="color: #ffffff;">What is IUT RS?</h3>
          <p style="color: #ffffff;">Our activities encompass a wide spectrum, ranging from UAV projects and Mars rover challenges to pioneering initiatives that push the boundaries of technology. Founded on a commitment to excellence and fueled by a passion for robotics, the IUT RS community actively engages in projects that not only reflect our dedication to technological advancement but also contribute to the broader landscape of robotics and automation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action End -->


<!-- Start Video promo Section -->
<section class="video-promo section" style="background-color: #102128; padding-top: 40px; padding-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="video-promo-content text-center">
          <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
            <span style="border-bottom: 2px solid #f37e15; color: #ffffff;">PROJECT AVIJATRIK</span>
          </h2>
          <p style="color: #ffffff;">IUT Avijatrik, one of the parent teams of Project Altair, was a prominent Mars Rover team in Bangladesh, comprising undergraduate students from the Islamic University of Technology.. </p>
          <p style="color: #ffffff;">
            Formed in 2018, Team Avijatrik swiftly gained international acclaim in Mars Rover Challenges, collaborating on a rover designed for Martian terrain. Achieving notable success, they secured positions such as 14th global and 2nd in Asia in 2018, 5th globally in 2018, 15th global and 1st in Asia in 2019, and 18th global in 2022 European Rover Challenge, highlighting their consistent excellence.
           </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="video-promo-content text-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/bSV7hWIdA_c?si=CCZrEBbj8NgRqhW8" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="video-promo section" style="background-color: #0e3240; padding-top: 40px; padding-bottom: 40px;">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class=" text-center">
          <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
            <span style="border-bottom: 2px solid #f37e15; color: #ffffff;">PROJECT ALTAIR</span>
          </h2>
          <p style="color: #ffffff;">Project Altair represents a dynamic undertaking led by the IUT Robotic Society, focusing on the creation, building, and functioning of Mars rovers to engage in rover competitions at home and abroad.  </p>
          <p style="color: #ffffff;">Founded in 2023, Project Altair combines IUT's Anirban and Avijatrik rover teams with a focus on shared objectives. In 2023, the team achieved global recognition, securing 10th place in the International Rover Design Challenge and an impressive 10th position in the on-site qualifiers of the 2023 European Rover Challenge, ranking 2nd in Asia and 1st in Bangladesh, highlighting exceptional performance.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/EhEQRXr-MpM?si=4rX7LdJz94ahtN6x" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Video Promo Section -->
<section class="video-promo section" style="background-color: #0e3240; padding-top: 40px; padding-bottom: 40px;">
  <div class="overlayz"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="video-promo-content text-center">
          <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
            <span style="border-bottom: 2px solid #f37e15; color: #ffffff;">PROJECT ANIRBAN</span>
          </h2>
          
          <p style="color: #ffffff;">
            IUT Mars Rover - Anirban, founded in 2015, pioneered Martian exploration with a passionate team. Achieving global recognition, they secured top positions in international competitions, including 16th globally and 2nd in Asia in the 2015 European Rover Challenge. Notably, in 2020, they were 2nd Runners up in the International Rover Challenge. Their consistent excellence continued with a 19th position in the 2021 European Rover Challenge and an impressive 10th position in the 2022 European Rover Challenge (Remote Edition). Team Anirban's accomplishments highlight their competitive prowess on the global stage.

            
            </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="video-promo-content text-center">
          <iframe width="560" height="320" src="https://www.youtube.com/embed/AZw3By0XVeI?si=-yzy4qeRwE0BCxN6" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="video-promo section" style="background-color: #0e3240; padding-top: 40px; padding-bottom: 40px;">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class=" text-center">
          <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
            <span style="border-bottom: 2px solid #f37e15; color: #ffffff;">PROJECT AERO</span>
          </h2>
          <p style="color: #ffffff;">Project Aero, the newest undertaking led by the IUT Robotics Society, is a UAV project. The goal of this project is to design aerial vehicles, such as planes and copters, using UAV technology. Participation in prestigious international tournaments like ISDC and NXP HoverGames is the project's goal.
          </p>
          <p style="color: #ffffff;">
            Drones employ Lidar for precise mapping, RTK GPS for accurate positioning, ELRS for long-range communication, and WiFi Broadcast for efficient data transfer. Initiated in 2019, the project signifies a significant advancement in transportation technology.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-center">
          <img src="/media/portfolio/ac2.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

</body>


<!-- Portfolio Section -->
<section id="portfolios" class="section" style="background-color: #102128; padding-top: 20px; padding-bottom: 20px;">"></section>
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 style="color: #ffffff;" class="section-title">Our Activities</h2>
      <p style="color: #ffffff;" class="section-subtitle">Our activities encompass a wide spectrum, ranging from UAV projects and Mars rover challenges to pioneering initiatives that push the boundaries of technology. </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Portfolio Controller/Buttons -->
        <div class="controls text-center">
          <a class="filter active btn btn-common btn-effect" data-filter="all">
            All
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".design">
            Workshops
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".development">
            DroneCrafters
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".print">
            Collaborations
          </a>
          
        </div>
        <!-- Portfolio Controller/Buttons Ends-->
      </div>
    </div>

    <!-- Portfolio Recent Projects -->
    <div id="portfolio" class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 mix development print">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="/media/portfolio/z.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="/media/portfolio/z.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix design print">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="/media/slider/12.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="/media/slider/12.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="/media/portfolio/w.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="/media/portfolio/w.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development design">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="/media/portfolio/sd.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="/media/portfolio/sd.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="/media/portfolio/as.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="/media/portfolio/as.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix print design">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="/media/portfolio/rr.jpg" alt="" />
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="/media/portfolio/rr.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>





<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>

<div id="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->

<script src="/static/scripts/jquery-min.js"></script>
<script src="/static/scripts/popper.min.js"></script>
<script src="/static/scripts/bootstrap.min.js"></script>
<script src="/static/scripts/classie.js"></script>
<!-- <script src="/static/scripts/color-switcher.js"></script> -->
<script src="/static/scripts/jquery.mixitup.js"></script>
<script src="/static/scripts/nivo-lightbox.js"></script>
<script src="/static/scripts/owl.carousel.js"></script>    
<script src="/static/scripts/jquery.stellar.min.js"></script>    
<script src="/static/scripts/jquery.nav.js"></script>    
<script src="/static/scripts/scrolling-nav.js"></script>    
<script src="/static/scripts/jquery.easing.min.js"></script>     
<script src="/static/scripts/wow.js"></script> 
<script src="/static/scripts/jquery.vide.js"></script>
<script src="/static/scripts/jquery.counterup.min.js"></script>    
<script src="/static/scripts/jquery.magnific-popup.min.js"></script>    
<script src="/static/scripts/waypoints.min.js"></script>    
<script src="/static/scripts/form-validator.min.js"></script>
<script src="/static/scripts/contact-form-script.js"></script>   
<script src="/static/scripts/main.js"></script>
{% endblock content %}
