{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/about.css">
    <div class="container">
        <br>
        <br>
        <br>
        <br>

        <div class="box">
            <section class="overview-section">
                <div class="overview-image">
                    <iframe src="https://flaghunt.ctfbd.io/scoreboard?fbclid=IwAR04xMZhbfVIEruRmoFw5FdLAG8vWQicnoyJOR5QhoK_1Dlj51oBqp1YUCI"
                            width="1200" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...>
                    </iframe>
                </div>
            </section>
    
        </div>

        <div class="box">
            <section class="overview-section">
                <div class="overview-image">
                    <iframe src="https://toph.co/c/cou-bracnet-inter-university-2023-mock/standings"
                            width="1200" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...>
                    </iframe>

                </div>
            </section>

        </div>

        <div class="box">
          <section class="overview-section">
              <div class="overview-image">
                  <iframe src="https://toph.co/c/national-high-school-2021-senior/standings"
                          width="1200" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...>
                  </iframe>
              </div>
          </section>

      </div>


      <div class="box">
        <section class="overview-section">
            <div class="overview-image">
                <iframe src="https://toph.co/contests/training/teukrhr/standings/combined?fbclid=IwAR19kEraW8esJT6-EUx65z9Gh2SaQKHEzU-7stqtf3fqElvgIB5blz3YaGU"
                        width="1200" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...>
                </iframe>
            </div>
        </section>

    </div>

    </div>


{% endblock content %}
