/* Card container */
.card {
    width: 350px;
    height : 450px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3%;
    overflow: hidden;
    align-items: center;
    text-align: center;
    position: relative; 
}
.card-container {
    display: flex; /* Use flexbox to create a horizontal layout */
    flex-wrap: wrap; /* Allow cards to wrap to the next row if necessary */
    justify-content: space-between; /* Distribute space between cards */
}

/* Card image */
.card img {
    width: 80%;
    height: 50%;
    display: block;
}

/* Card content */
.card-content {
    padding: 8px;
    position: relative; 
}

/* Card title */
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

/* Card date */
.card-date {
    font-size: 14px;
    color: #777;
}

/* Read more link */
.read-more {
    text-decoration: none;
    color: #0077b6; /* You can change the color to your preference */
}
.edit-button {
    margin-top: 20px;
    background-color: #ac012a; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove the default button border */
    border-radius: 8px; /* Add rounded corners */
    padding: 10px 20px; /* Add padding to the button */
    text-align: center; /* Center-align text within the button */
    text-decoration: none; /* Remove underlines from the anchor */
    display: inline-block;
    font-size: 16px;
    font-weight: bold; /* Make the text bold */
    cursor: pointer; /* Change cursor to a pointer on hover */
    transition: background-color 0.3s ease; /* Add smooth transition */
}

/* Add a hover effect */
.edit-button:hover {
    background-color: #ac012a; /* Darker blue on hover */
}