body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: white;
    text-align: center;
    padding: 20px 0;
    padding-bottom: 120px;
}
.section-header {
    margin: 20px 0; /* Adjust as needed for spacing */
}

h1 {
    margin: 0;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
}

.im-row {
    display: flex;
    flex-wrap: wrap;
    margin: -20px; /* Negative margin to reduce space between image cards */
}

.image-card {
    flex: 0 0 calc(25% - 10px); /* Four cards per row with spacing */
    margin: 5px; /* Adjust as needed for spacing */
    text-align: center; /* Center text within the image card */
    padding: 10px; /* Add padding for spacing within the image card */
    background-color: #f5f5f5; /* Add a background color for visual separation */
    border-radius: 10px; /* Add rounded corners for image cards */
}

.image-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px; /* Adjust the maximum height for the images */
}

.image-card p {
    margin: 10px 0;
    font-weight: bold;
    color: #f37e15;
    font-size: 14px; /* Adjust the font size */
}
.center-text {
    font-size: 7px;
    font-weight: bold;
}
h1 {
    text-align: center;
    padding: 10px;
    color: white;
    padding-bottom: 60px;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    text-decoration-color: #f37e15;
    text-decoration-thickness: 5px;
}
@media (max-width: 768px) {
    .image-card {
        margin: 5px; /* Adjust this value for mobile */
    }
    .im-row, .image-row {
        padding: 5px; /* Adjust this value for mobile */
    }
}