{% extends 'base.html' %}

{% block content %}
    <style>
        /* Style to make input look like textarea */
        .textarea-like-input {
            border: 1px solid #ccc;
            padding: 5px;
            font-size: 16px;
            width: 300px; /* Adjust the width as needed */
            height: 100px; /* Adjust the height as needed */
            resize: none; /* Disable textarea resizing */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/styles/edit_achievement.css">
    <br><br><br><h1>Edit Achievement </h1>
    <form action="{% url 'achievements:update_Achievement' pk=achievement.pk %}" method="POST"
          enctype="multipart/form-data" id="myForm">
        {% csrf_token %}
        <section class="overview-section"></section>
        Title:
        <input name="title" value="{{ achievement.title }}" class="title-input">
        <br><br>
        Image:

        <div class="overview-image">
            <img id="imagePreview" src="{{ achievement.image }}">
        </div>
        <label for="image" class="file-upload">
            <class="icon" >Choose File
            <input name="image" id="image" type="file" accept="image/*" class="form-control" onchange="previewImage()">
        </label>
        <!-- <input name="image" id="image" type="file" accept="image/*" class="form-control" > -->
        </section>
        Description:<br>
        <textarea name="content" class="title-input2"> {{ achievement.description }}</textarea>
        <br>
        <input type="submit" value="Accept" class="edit-button">

        <input type="button" onclick="deleteContent()" value="delete" class="edit-button1">
        <input type="button" onclick="cancel()" value="cancel" class="edit-button2">


    </form>
    <script>
        function previewImage() {
            var input = document.getElementById('image');
            var preview = document.getElementById('imagePreview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                preview.style.display = 'none';
            }
        }

    </script>
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function cancel() {
            window.location.href =
            {%  url 'achievements:achievements' %}
        }

        document.getElementById('myForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to submit this form.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, submit it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms, submit the form
                    document.getElementById('myForm').submit();
                }
            });
        });

        function deleteContent() {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    fetch('{% url 'achievements:delete_Achievement' pk=achievement.pk %}')
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data.message);
                        })
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel

                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            }).then(function () {
                setTimeout(function () {
                    window.location.href =
                    {%  url 'achievements:achievements' %}
                }, 1000);
            })
        }

    </script>

{% endblock content %}