{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/styles/about.css">
<div class="container">
  <br>
  <br>
  <h1>Achievements </h1>
    {% for i in achievement reversed %}

    <div class="box">
        <section class="overview-section">
            <div class="overview-text">
                <h2 class="title">{{ i.title }}</h2>

                <p class="subtitle">{{ i.description }}<br><br><br></p>
            </div>
            <div class="overview-image">
                <img src="{{ i.image }}">
                {% if user.is_authenticated %}

                <a href={% url 'achievements:edit_Achievement' pk=i.id %}>
                    <button type="button" class="edit-button">Edit post</button>
                </a>


                {% endif %}
            </div>
        </section>


    </div>


    {% endfor %}
</div>



{% endblock content %}
